[submodule "external/json-fortran"]
	path = external/json-fortran
	url = https://github.com/lmdiazangulo/json-fortran.git
	ignore = dirty

[submodule "external/fhash"]
	path = external/fhash
	url = https://github.com/OpenSEMBA/fhash.git
	ignore = dirty

[submodule "external/lapack"]
	path = external/lapack
	url = https://github.com/Reference-LAPACK/lapack.git
	ignore = dirty

[submodule "external/ngspice"]
	path = external/ngspice
	url = https://github.com/OpenSEMBA/ngspice.git
	ignore = dirty
	
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git